In [2]:
from pyflink.common.types import Row
from pyflink.datastream import StreamExecutionEnvironment
from pyflink.common import Types, WatermarkStrategy, Configuration
from pyflink.table import EnvironmentSettings, TableEnvironment
from pyflink.table import DataTypes, StreamTableEnvironment, Schema
from datetime import datetime
import pytz

In [3]:

config = Configuration()
config.set_string("python.client.executable", "/usr/local/Caskroom/miniconda/base/envs/myenv/bin/python")
config.set_string("python.executable", "/usr/local/Caskroom/miniconda/base/envs/myenv/bin/python")
env = StreamExecutionEnvironment.get_execution_environment(config)

In [8]:
t_env = StreamTableEnvironment.create(env)
t_env.get_config().set("parallelism.default", "1")
t_env.get_config().set_local_timezone("UTC")

input_table = t_env.from_elements(
    [
        (
            "elementA",
            datetime(year=2024, month=4, day=12, hour=8, minute=35, tzinfo=pytz.utc),
        ),
        (
            "elementB",
            datetime(year=2024, month=4, day=12, hour=9, minute=35, tzinfo=pytz.utc),
        ),
    ],
    DataTypes.ROW(
        [
            DataTypes.FIELD("name", DataTypes.STRING()),
            DataTypes.FIELD("timestamp", DataTypes.TIMESTAMP(3)),
        ]
    ),
)
input_table.execute().print()

+----+--------------------------------+-------------------------+
| op |                           name |               timestamp |
+----+--------------------------------+-------------------------+
| +I |                       elementA | 2024-04-12 16:35:00.000 |
| +I |                       elementB | 2024-04-12 17:35:00.000 |
+----+--------------------------------+-------------------------+
2 rows in set

In [9]:
t_env = StreamTableEnvironment.create(env)
t_env.get_config().set_local_timezone("GMT-02:00")

input_table = t_env.from_elements(
    [
        (
            "elementA",
            datetime(year=2024, month=4, day=12, hour=8, minute=35, tzinfo=pytz.utc),
        ),
        (
            "elementB",
            datetime(year=2024, month=4, day=12, hour=9, minute=35, tzinfo=pytz.utc),
        ),
    ],
    DataTypes.ROW(
        [
            DataTypes.FIELD("name", DataTypes.STRING()),
            DataTypes.FIELD("timestamp", DataTypes.TIMESTAMP(3)),
        ]
    ),
)
input_table.execute().print()

+----+--------------------------------+-------------------------+
| op |                           name |               timestamp |
+----+--------------------------------+-------------------------+
| +I |                       elementA | 2024-04-12 16:35:00.000 |
| +I |                       elementB | 2024-04-12 17:35:00.000 |
+----+--------------------------------+-------------------------+
2 rows in set

In [10]:
t_env = StreamTableEnvironment.create(env)
t_env.get_config().set_local_timezone("GMT-02:00")

input_table = t_env.from_elements(
    [
        (
            "elementA",
            datetime(year=2024, month=4, day=12, hour=8, minute=35, tzinfo=pytz.utc),
        ),
        (
            "elementB",
            datetime(year=2024, month=4, day=12, hour=9, minute=35, tzinfo=pytz.utc),
        ),
    ],
    DataTypes.ROW(
        [
            DataTypes.FIELD("name", DataTypes.STRING()),
            DataTypes.FIELD("timestamp", DataTypes.TIMESTAMP_LTZ(3)),
        ]
    ),
)
input_table.execute().print()

+----+--------------------------------+-------------------------+
| op |                           name |               timestamp |
+----+--------------------------------+-------------------------+
| +I |                       elementA | 2024-04-12 14:35:00.000 |
| +I |                       elementB | 2024-04-12 15:35:00.000 |
+----+--------------------------------+-------------------------+
2 rows in set

In [11]:
t_env = StreamTableEnvironment.create(env)
t_env.get_config().set_local_timezone("GMT-00:00")

input_table = t_env.from_elements(
    [
        (
            "elementA",
            datetime(year=2024, month=4, day=12, hour=8, minute=35, tzinfo=pytz.utc),
        ),
        (
            "elementB",
            datetime(year=2024, month=4, day=12, hour=9, minute=35, tzinfo=pytz.utc),
        ),
    ],
    DataTypes.ROW(
        [
            DataTypes.FIELD("name", DataTypes.STRING()),
            DataTypes.FIELD("timestamp", DataTypes.TIMESTAMP_LTZ(3)),
        ]
    ),
)
input_table.execute().print()

+----+--------------------------------+-------------------------+
| op |                           name |               timestamp |
+----+--------------------------------+-------------------------+
| +I |                       elementA | 2024-04-12 16:35:00.000 |
| +I |                       elementB | 2024-04-12 17:35:00.000 |
+----+--------------------------------+-------------------------+
2 rows in set

In [12]:
%config Completer.use_jedi = False

In [13]:
t_env = StreamTableEnvironment.create(env)
t_env.get_config().set_local_timezone("GMT-08:00")

input_table = t_env.from_elements(
    [
        (
            "elementA",
            datetime(year=2024, month=4, day=12, hour=8, minute=35, tzinfo=pytz.utc),
        ),
        (
            "elementB",
            datetime(year=2024, month=4, day=12, hour=9, minute=35, tzinfo=pytz.utc),
        ),
    ],
    DataTypes.ROW(
        [
            DataTypes.FIELD("name", DataTypes.STRING()),
            DataTypes.FIELD("timestamp", DataTypes.TIMESTAMP_LTZ(3)),
        ]
    ),
)
input_table.execute().print()

+----+--------------------------------+-------------------------+
| op |                           name |               timestamp |
+----+--------------------------------+-------------------------+
| +I |                       elementA | 2024-04-12 08:35:00.000 |
| +I |                       elementB | 2024-04-12 09:35:00.000 |
+----+--------------------------------+-------------------------+
2 rows in set

In [15]:
print(datetime(year=2024, month=4, day=12, hour=9, minute=35, tzinfo=pytz.utc))

2024-04-12 09:35:00+00:00

In [16]:
print(datetime(year=2024, month=4, day=12, hour=9, minute=35))

2024-04-12 09:35:00

In [21]:
t_env = StreamTableEnvironment.create(env)
t_env.get_config().set_local_timezone("GMT-08:00")

input_table = t_env.from_elements(
    [
        (
            "elementA",
            datetime(year=2024, month=4, day=12, hour=8, minute=35),
        ),
        (
            "elementB",
            datetime(year=2024, month=4, day=12, hour=9, minute=35),
        ),
    ],
    DataTypes.ROW(
        [
            DataTypes.FIELD("name", DataTypes.STRING()),
            DataTypes.FIELD("timestamp", DataTypes.TIMESTAMP(3)),
        ]
    ),
)
input_table.execute().print()

+----+--------------------------------+-------------------------+
| op |                           name |               timestamp |
+----+--------------------------------+-------------------------+
| +I |                       elementA | 2024-04-12 08:35:00.000 |
| +I |                       elementB | 2024-04-12 09:35:00.000 |
+----+--------------------------------+-------------------------+
2 rows in set

In [22]:
t_env = StreamTableEnvironment.create(env)
t_env.get_config().set_local_timezone("GMT-08:00")

input_table = t_env.from_elements(
    [
        (
            "elementA",
            datetime(year=2024, month=4, day=12, hour=8, minute=35),
        ),
        (
            "elementB",
            datetime(year=2024, month=4, day=12, hour=9, minute=35),
        ),
    ],
    DataTypes.ROW(
        [
            DataTypes.FIELD("name", DataTypes.STRING()),
            DataTypes.FIELD("timestamp", DataTypes.TIMESTAMP_LTZ(3)),
        ]
    ),
)
input_table.execute().print()

+----+--------------------------------+-------------------------+
| op |                           name |               timestamp |
+----+--------------------------------+-------------------------+
| +I |                       elementA | 2024-04-12 00:35:00.000 |
| +I |                       elementB | 2024-04-12 01:35:00.000 |
+----+--------------------------------+-------------------------+
2 rows in set

In [23]:
t_env = StreamTableEnvironment.create(env)
t_env.get_config().set_local_timezone("GMT-08:00")

input_table = t_env.from_elements(
    [
        (
            "elementA",
            datetime(year=2024, month=4, day=12, hour=8, minute=35, tzinfo=pytz.utc),
        ),
        (
            "elementB",
            datetime(year=2024, month=4, day=12, hour=9, minute=35, tzinfo=pytz.utc),
        ),
    ],
    DataTypes.ROW(
        [
            DataTypes.FIELD("name", DataTypes.STRING()),
            DataTypes.FIELD("timestamp", DataTypes.TIMESTAMP_LTZ(3)),
        ]
    ),
)
input_table.execute().print()

+----+--------------------------------+-------------------------+
| op |                           name |               timestamp |
+----+--------------------------------+-------------------------+
| +I |                       elementA | 2024-04-12 08:35:00.000 |
| +I |                       elementB | 2024-04-12 09:35:00.000 |
+----+--------------------------------+-------------------------+
2 rows in set

In [25]:
date=datetime(year=2024, month=4, day=12, hour=8, minute=35, tzinfo=pytz.utc)
timestamp = date.timestamp()
print(timestamp)

1712910900.0

In [26]:
date=datetime(year=2024, month=4, day=12, hour=8, minute=35)
timestamp = date.timestamp()
print(timestamp)

1712882100.0

In [6]:
date=datetime(year=2024, month=4, day=12, hour=8, minute=35, tzinfo=pytz.utc)
timestamp = date.utctimetuple()
print(timestamp)

time.struct_time(tm_year=2024, tm_mon=4, tm_mday=12, tm_hour=8, tm_min=35, tm_sec=0, tm_wday=4, tm_yday=103, tm_isdst=0)

In [7]:
date=datetime(year=2024, month=4, day=12, hour=8, minute=35)
timestamp = date.utctimetuple()
print(timestamp)

time.struct_time(tm_year=2024, tm_mon=4, tm_mday=12, tm_hour=8, tm_min=35, tm_sec=0, tm_wday=4, tm_yday=103, tm_isdst=0)

In [8]:
import calendar
import time

In [12]:
date=datetime(year=2024, month=4, day=12, hour=8, minute=35)
timestamp = date.utctimetuple()
print(timestamp)
calendar.timegm(date.utctimetuple())

time.struct_time(tm_year=2024, tm_mon=4, tm_mday=12, tm_hour=8, tm_min=35, tm_sec=0, tm_wday=4, tm_yday=103, tm_isdst=0)

1712910900

In [20]:
date=datetime(year=2024, month=4, day=12, hour=8, minute=35, tzinfo=pytz.timezone('Asia/Shanghai'))
timestamp = date.utctimetuple()
print(timestamp)
print(calendar.timegm(date.utctimetuple()))
print(calendar.timegm(date.timetuple()))

time.struct_time(tm_year=2024, tm_mon=4, tm_mday=12, tm_hour=0, tm_min=29, tm_sec=0, tm_wday=4, tm_yday=103, tm_isdst=0)
1712881740
1712910900

In [19]:
date=datetime(year=2024, month=4, day=12, hour=8, minute=35, tzinfo=pytz.timezone('America/Los_Angeles'))
timestamp = date.timetuple()
print(timestamp)
calendar.timegm(date.utctimetuple())

time.struct_time(tm_year=2024, tm_mon=4, tm_mday=12, tm_hour=8, tm_min=35, tm_sec=0, tm_wday=4, tm_yday=103, tm_isdst=0)

1712939280

In [21]:
date=datetime(year=2024, month=4, day=12, hour=8, minute=35, tzinfo=pytz.UTC)
timestamp = date.timetuple()
print(timestamp)
calendar.timegm(date.utctimetuple())

time.struct_time(tm_year=2024, tm_mon=4, tm_mday=12, tm_hour=8, tm_min=35, tm_sec=0, tm_wday=4, tm_yday=103, tm_isdst=0)

1712910900

In [37]:
date=datetime(year=2024, month=4, day=12, hour=8, minute=35)
print(date.timetuple())
print(calendar.timegm(date.timetuple()))
print(calendar.timegm(date.utctimetuple()))
print(time.mktime(date.timetuple()))
print(time.mktime(date.utctimetuple()))

time.struct_time(tm_year=2024, tm_mon=4, tm_mday=12, tm_hour=8, tm_min=35, tm_sec=0, tm_wday=4, tm_yday=103, tm_isdst=-1)
1712910900
1712910900
1712882100.0
1712882100.0

In [38]:
date=datetime(year=2024, month=4, day=12, hour=8, minute=35, tzinfo=pytz.UTC)
print(date.timetuple())
print(calendar.timegm(date.timetuple()))
print(calendar.timegm(date.utctimetuple()))
print(time.mktime(date.timetuple()))
print(time.mktime(date.utctimetuple()))

time.struct_time(tm_year=2024, tm_mon=4, tm_mday=12, tm_hour=8, tm_min=35, tm_sec=0, tm_wday=4, tm_yday=103, tm_isdst=0)
1712910900
1712910900
1712882100.0
1712882100.0

In [39]:
date=datetime(year=2024, month=4, day=12, hour=8, minute=35, tzinfo=pytz.timezone('Asia/Shanghai'))
print(date.timetuple())
print(calendar.timegm(date.timetuple()))
print(calendar.timegm(date.utctimetuple()))
print(time.mktime(date.timetuple()))
print(time.mktime(date.utctimetuple()))

time.struct_time(tm_year=2024, tm_mon=4, tm_mday=12, tm_hour=8, tm_min=35, tm_sec=0, tm_wday=4, tm_yday=103, tm_isdst=0)
1712910900
1712881740
1712882100.0
1712852940.0